<script src="https://apis.google.com/js/platform.js"></script>

<%= image_tag("img1.jpg")%>

<div class="g-savetodrive"
   data-src="<%= image_url("/assets/img1.jpg")%>"
   data-filename="Image1"
   data-sitename="Sample APp">
</div>
